.form-control {
    border-bottom: 1px solid #000;
    display: inline-block;
    &.border-dotted{
        border: none;
        border-bottom: 1px dotted #000;
        
    }
    &.border-dashed{
        border: none;
        border-bottom: 1px dashed #000;
        
    }
}
.tab{
    .position-absulute{
        background: white;
        padding-right: 5px;
        position: absolute;
        bottom: -3px;
    }
    .form-control{
        padding: 0 0 0 20%;
    }
}
.form-table{
    & th{
        border: none;
    }
    & td{
        border: none;
    }
    & .w-2{
        white-space: nowrap;
        padding-left: 0;
        padding-right: 0;
    }
}
.table-form{
    display: table;
    .table-row{
        display: table-row
    }
    .table-cell{
        display: table-cell;
        &.w-2{
            white-space: nowrap;
        }
    }
}
