header{
    .navbar{
        padding: .75rem 0;
        background-color: #7952b3;
        // position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 9;
    }
    .navbar-brand {
        text-transform: uppercase;
        color: rgba(255,255,255,0.85);
        font-size: 2rem;
    }
    .navbar-nav{
        padding: 0.5rem 0px;
        text-align: right;
        & li{
            display: inline-block;
            & a{
                font-weight: 600;
                color: rgba(255,255,255,0.85);
            }
        }
    }
    .search-bar {
        // position: -webkit-sticky;
        // position: sticky;
        // top: 0;
        z-index: 1020;
        background-color: #ffffff;
        box-shadow: 1px 1px 16px #d2c5c56e;
        &.fixed-top{
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
        }
        input{
            padding-right: 3.75rem;
            display: block;
            width: 100%;
            padding: .375rem .75rem;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #212529;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            border-radius: .25rem;
            transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        }
        .position-relative{
            max-width: 28%;
        }
        .search-list{
            padding: 8px 0;
            border: 1px solid #eee;
            position: absolute;
            width: 100%;
            left: 0;
            z-index: 999999;
            background: white;
            opacity: 0;
            visibility: visible;
            &:first-child{
                & a{
                    color: rgba(121, 82, 179, 0.1);
                }
            }
            & a{
                display: block;
                padding: 5px;
                &:hover{
                    background: rgba(121, 82, 179, 0.1);
                }
            }
        }
    }
}