header{
    padding: .75rem 0;
    background-color: #7952b3;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9;
    .navbar-brand {
        text-transform: uppercase;
        color: rgba(255,255,255,0.85);
    }
    .navbar-nav{
        padding: 0.5rem 0px;
        text-align: right;
        & li{
            display: inline-block;
            & a{
                font-weight: 600;
                color: rgba(255,255,255,0.85);
            }
        }
    }
}