*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
// html,
body {
    font-size: 1rem;
}

// input,
// textarea,
// select,
// button{
//  outline: none;
// }
// input{
// line-height: normal;
// }
// label,
// button{
// cursor: pointer;
// }
a {
text-decoration: none;
}
ul{
    list-style: none;
}