table {
    border-collapse: collapse;
}
.table {
    width: 100%;
    // margin-bottom: 1rem;
    color: #000;
    // thead th {
    //     vertical-align: middle;
    //     border-bottom: 2px solid #dee2e6;
    //     padding: .75rem;
    //     border-top: 1px solid #dee2e6;
    // }
    th{
        padding: .3rem;
        vertical-align: top;
        border: 0.5px solid #000;
    }
    td{
        padding: .3rem;
        vertical-align: top;
        border: 0.5px solid #000;
    }
    &.table-bordered {
        border: 0.5px solid #000;

    }
    &.table-xs{
        th{
            padding: .15rem;
        }
        td{
            padding: .15rem;
        }
    }
    &.table-sm{
        th{
            padding: .2rem;
        }
        td{
            padding: .2rem;
        }
    }
    &.table-md{
        th{
            padding: .4rem;
        }
        td{
            padding: .4rem;
        }
    }
    &.table-lg{
        th{
            padding: .6rem;
        }
        td{
            padding: .6rem;
        }
    }
    caption {
        padding-top: .3rem;
        padding-bottom: .3rem;
        color: #6c757d;
        text-align: left;
        caption-side: bottom;
    }
    &.caption-top{
        caption {
            caption-side: top;
        }
    }

}
// .table-bordered td, .table-bordered th {
//     border: 0.5px solid #000;
// }
.table-borderless tbody+tbody, .table-borderless td, .table-borderless th, .table-borderless thead th {
    border: 0;
}
.table .table-dark th {
    color: #fff;
    background-color: #343a40;
    border-color: #454d55;
}
.table .table-light th {
    color: #495057;
    background-color: #e9ecef;
    border-color: #dee2e6;
}